<h3>Getting Started With Pandas</h3>

In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

2.2.2

<h3>Series</h3>

In [8]:
#Creating series in pandas using list
lst = [42, 54, 12, 32, 45, 65]
ser = pd.Series(lst)
print(lst)

[42, 54, 12, 32, 45, 65]

In [4]:
#Printing type of series
print(type(ser))

<class 'pandas.core.series.Series'>

In [12]:
#Defining the type of list using dtype()
ser = pd.Series(lst, dtype = "float") 
print(ser)

0    42.0
1    54.0
2    12.0
3    32.0
4    45.0
5    65.0
dtype: float64

In [6]:
#Creating series using ductionary
dict1 = {"name":["Python", "C++", "Java", "HTML"], "popularity":[10, 6, 8, 9], "ranking":[1, 3, 2, 4]}
ser = pd.Series(dict1)
print(ser)

name          [Python, C++, Java, HTML]
popularity                [10, 6, 8, 9]
ranking                    [1, 3, 2, 4]
dtype: object

In [7]:
#Creating series with a repeating value
ser1 = pd.Series(12, index = [1,2,3,4,5,6,7])
ser2 = pd.Series(12, index = [1,2,3,4])
print(ser1 + ser2)

1    24.0
2    24.0
3    24.0
4    24.0
5     NaN
6     NaN
7     NaN
dtype: float64

<h3>DataFrame</h3>

In [9]:
#Creating dataframe using list
lst = [42, 54, 12, 32, 45, 65]
dF = pd.DataFrame(lst)
print(dF)

    0
0  42
1  54
2  12
3  32
4  45
5  65

In [10]:
#Printing type of dataframe
print(type(dF))

<class 'pandas.core.frame.DataFrame'>

In [11]:
#Creating dataframe using dictionary
dict1 = {"name":["Python", "C++", "Java", "HTML"], "popularity":[10, 6, 8, 9], "ranking":[1, 3, 2, 4]}
dF = pd.DataFrame(dict1)
print(dF)

     name  popularity  ranking
0  Python          10        1
1     C++           6        3
2    Java           8        2
3    HTML           9        4

In [13]:
#Accessing only specific columns
dict1 = {"name":["Python", "C++", "Java", "HTML"], "popularity":[10, 6, 8, 9], "ranking":[1, 3, 2, 4]}
dF = pd.DataFrame(dict1, columns=["name", "ranking"])
print(dF)

     name  ranking
0  Python        1
1     C++        3
2    Java        2
3    HTML        4

In [14]:
#Printing specific value using indexing
print(dF["name"][2])

Java

<h5>Operations on DataFrame</h5>

In [16]:
#Creating dataframe with multiple series
ser = {"ser1":pd.Series([1,2,3,4,5]), "ser2":pd.Series([11,12,13,14,15])}
dF = pd.DataFrame(ser)
print(dF)

   ser1  ser2
0     1    11
1     2    12
2     3    13
3     4    14
4     5    15

In [17]:
#Adding new column that contains sum of the pervious 2
dF["sum"] = dF["ser1"] + dF["ser2"]
print(dF)

   ser1  ser2  sum
0     1    11   12
1     2    12   14
2     3    13   16
3     4    14   18
4     5    15   20

In [19]:
#Add new column that contains subtraction of the pervious 2
ser = {"ser1":pd.Series([6,2,5,7,8]), "ser2":pd.Series([1,2,3,4,5])}
dF["Sub"] = dF["ser1"] - dF["ser2"]
print(dF)

   ser1  ser2  Sub
0     6     1    5
1     2     2    0
2     5     3    2
3     7     4    3
4     8     5    3

In [23]:
#Add new column that contain multiplication of the pervious 2
dF["Mul"] = dF["ser1"] * dF["ser2"]
print(dF)

   ser1  ser2  Sub  Mul
0     6     1    5    6
1     2     2    0    4
2     5     3    2   15
3     7     4    3   28
4     8     5    3   40

In [24]:
#Add new column that contain division of the pervious 2
dF["divide"] = dF["ser1"] / dF["ser2"]
print(dF)

   ser1  ser2  Sub  Mul    divide
0     6     1    5    6  6.000000
1     2     2    0    4  1.000000
2     5     3    2   15  1.666667
3     7     4    3   28  1.750000
4     8     5    3   40  1.600000

In [25]:
#Adding new column name python which gives true when value in series 1 is greater than or equal to 34
ser = {"ser1":pd.Series([15,53,23,34,10,80]), "ser2":pd.Series([2,4,6,9,10,23])}
dF = pd.DataFrame(ser)
dF["Python"] = dF["ser1"] >= 34
print(dF)

   ser1  ser2  Python
0    15     2   False
1    53     4    True
2    23     6   False
3    34     9    True
4    10    10   False
5    80    23    True

<h5>Insert and Delete Operation on DataFrame</h5>

In [26]:
ser = {"ser1":pd.Series([15,53,23,34,10,80]), "ser2":pd.Series([2,4,6,9,10,23])}
dF = pd.DataFrame(ser)
print(dF)

   ser1  ser2
0    15     2
1    53     4
2    23     6
3    34     9
4    10    10
5    80    23

In [32]:
ser3 = pd.Series([21,45,26,78,42,55])
dF.insert(2,"newSer", ser3)
print(dF)

   ser1  ser2  newSer  ser3
0    15     2      21    21
1    53     4      45    45
2    23     6      26    26
3    34     9      78    78
4    10    10      42    42
5    80    23      55    55

In [34]:
dF["ser4"] = dF["ser3"][:4]
print(dF)

   ser1  ser2  newSer  ser3  ser4
0    15     2      21    21  21.0
1    53     4      45    45  45.0
2    23     6      26    26  26.0
3    34     9      78    78  78.0
4    10    10      42    42   NaN
5    80    23      55    55   NaN

In [35]:
dF.pop("ser4")
print(dF)

   ser1  ser2  newSer  ser3
0    15     2      21    21
1    53     4      45    45
2    23     6      26    26
3    34     9      78    78
4    10    10      42    42
5    80    23      55    55

In [36]:
del dF["newSer"]
print(dF)

   ser1  ser2  ser3
0    15     2    21
1    53     4    45
2    23     6    26
3    34     9    78
4    10    10    42
5    80    23    55